.wrapper {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    max-width: 100%;
    width: 40em;
}

.category {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5em;

    h1 {
        text-align: center;
    }

    h2 {
        gap: 0.4em;
        display: inline-flex;
        align-items: center;
    }
}