@media only screen and (max-width: 355px) {
    .timer {
        font-size: 30vw !important;
        
    }
}

.timer {
    height: 2em;
    font-size: 10em;
    padding-top: 1em;
    color: aliceblue;
    text-align: center;
}