<mat-drawer-container class="fill" [hasBackdrop]="true">
  <mat-drawer [opened]="showSettings" position="start" class="side-menu">
    <app-settings />
  </mat-drawer>
  <mat-drawer [opened]="showTasksList" position="end" class="side-menu">
    <app-tasks />
  </mat-drawer>
  <mat-drawer-content class="content">
    <main class="card">
      <app-mode-controls />
      <app-timer />
      <app-action-controls
        (settingsButtonClicked)="showSettings = !showSettings"
        (tasksListButtonClicked)="showTasksList = !showTasksList"
      />
    </main>
  </mat-drawer-content>
</mat-drawer-container>
